*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a78de4;
}

.main-div{
    width: 90%;
    min-height: 80vh;
    display: flex;
    gap: 3rem;
}

.left-section{
    flex: 2;
    max-width: 800px;
    padding: 2rem;
    margin-top: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 20px;
}

.right-section{
    flex: 1;
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 100%;
    padding: 3rem;

    border: 2px solid rgb(181, 69, 69);
    border-radius: 16px;

    background-color: #7458b4;

    cursor: pointer;

    display: flex;
    flex-direction: column;

    box-shadow: 0 8px 20px rgba(0,0,0,0.15);

    transition: all 0.3s ease;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}

.card-heading{
    font-size: 1.6rem;
    font-weight: bold;
    color: #ecbcbc;
    margin-bottom: 1rem;
}

.card-para{
    font-size: 0.95rem;
    line-height: 1.6;
    color: #de92ed;
}

.button{
    margin-top: 1.5rem;
    padding: 0.8rem 1.5rem;

    background-color: #b2e3eb;

    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;

    width: fit-content;

    border: none;
    border-radius: 8px;

    transition: all 0.3s ease;
}

.button:hover{
    opacity: 0.9;
    transform: translateY(-2px);
}

.right-section img{
    width: 100%;
    max-width: 550px;
    height: auto;
    object-fit: contain;
}

#main-heading{
    font-size: 4rem;
    margin-bottom: 1.5rem;
    font-weight: 900;
    color: #efeeb2;
}

#main-para{
    font-size: 1.3rem;
    max-width: 600px;
    line-height: 1.7;
    color: #3d3737;
}